extends layout.pug

block content
  body(style="background-image: url('kjopo.jpg');")
    header
      h1 Welcome to CityPop!
      div(style="background-color: rgba(255, 255, 255, 0.9); padding: 20px; border-radius: 10px;")
        p(style="font-size: 20px") Explore the diverse and vibrant populations of cities worldwide with CityPop. Our website provides comprehensive population data for hundreds of cities across the globe. Whether you're curious about urban centers or rural communities, CityPop offers insights into the demographic makeup of each location.

        p(style="font-size: 20px") From bustling metropolises to serene countryside towns, CityPop showcases the rich diversity of human civilization. Discover population sizes, growth rates, demographics, and more. Whether you're conducting research, planning your next adventure, or shaping the future, CityPop is your gateway to understanding urban life.

        p(style="font-size: 20px") With CityPop, you can compare population sizes. Whether you're a student conducting research, a traveler planning your next adventure, or a city planner shaping the future, CityPop is your gateway to understanding the dynamic of urban life.

        p(style="font-size: 20px") Join us as we journey through the heart of cities and uncover the stories behind their populations. Start exploring now and immerse yourself in the vibrant tapestry of global communities with CityPop!
